.lately_product {
    position: relative;
    background-color: #fff
}

.lately_product:after {
    position: absolute;
    bottom: 0;
    left: 2.5rem;
    width: 1px;
    height: 100%;
    background-color: #d9d9d9;
    content: ''
}

.item_lately {
    position: relative;
    margin-left: 2.5rem;
    padding: 0;
    border-bottom: 1px solid #f0f0f0
}

.item_lately:last-child,.item_lately:only-child {
    border-bottom: none
}

.item_lately .cont_date,.item_lately .cont_date2 {
    position: absolute;
    top: 1.3rem;
    left: -1.5rem;
    width: 3.1rem;
    height: 3.1rem;
    font-size: 1rem;
    line-height: 3.2rem;
    background-color: #959595;
    color: #fff;
    text-align: center;
    z-index: 10;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%
}

.item_lately .cont_date2 {
    top: 4.8rem
}

.list_chu_prod {
    overflow: visible
}

.list_chu_prod li {
    position: relative;
    margin: 0;
    padding: 1.4rem 3.3rem 1.4rem 2.6rem;
    border-top: 1px solid #f0f0f0;
    border-bottom: 0
}

.list_chu_prod li:after {
    display: block;
    clear: both;
    content: ''
}

.list_chu_prod li:first-child {
    border-top: 0
}

.list_chu_prod li a {
    display: block;
    position: relative
}

.list_chu_prod li .btn_del {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    width: 2.3rem;
    height: 2.3rem
}

.list_chu_prod li .btn_del .ic2_14 {
    overflow: hidden;
    width: 14px;
    height: 14px;
    margin-top: .3rem;
    font-size: 0;
    line-height: 0;
    background-position: -52px -38px;
    text-indent: -9999px;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: url(../img/common/cjmall/m/sp_bt_x.png); */
    -webkit-background-size: 82px auto;
    background-size: 82px auto
}

.list_chu_prod li .btn_choice {
    position: absolute;
    bottom: 1rem;
    right: 1.1rem;
    width: 2.5rem;
    height: 2.5rem
}

.list_chu_prod li .btn_choice .ico_heart {
    overflow: hidden;
    width: 19px;
    height: 17px;
    font-size: 0;
    line-height: 0;
    background-position: 0 -410px;
    text-indent: -9999px;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: url(../img/common/cjmall/m/sp_ico_fn.png); */
    -webkit-background-size: 62px auto;
    background-size: 62px auto
}

.list_chu_prod li .btn_choice.selected .ico_heart {
    background-position: -20px -410px
}

.list_chu_prod .link_thumb {
    position: relative;
    float: left;
    width: 11.3rem;
    height: 11.3rem;
    margin-right: 1.2rem;
    font-size: 0;
    text-align: center
}

.list_chu_prod .link_thumb:after {
    display: inline-block;
    overflow: hidden;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.list_chu_prod .link_thumb img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    vertical-align: middle
}

.list_chu_prod .link_thumb .frame_g {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    line-height: 1.15;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.list_chu_prod li.sold_out .frame_g {
    padding-top: 4.1rem
}

.list_chu_prod li.sell_end .tit_prod {
    color: #959595
}

.list_chu_prod li.sell_end .frame_g {
    padding-top: 3.2rem
}

.list_chu_prod .info_thumb {
    overflow: hidden
}

.list_chu_prod .info_thumb .tit_prod {
    display: block;
    margin: .3rem 0 0;
    font-weight: 400;
    font-size: 1.6rem;
    color: #4d4d4d
}

.list_chu_prod .info_thumb .link_tit {
    display: block;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word
}

.list_chu_prod .info_thumb .txt_sort {
    display: block;
    margin: .8rem 0 0 .1rem;
    font-size: 1.2rem
}

.list_chu_prod .info_thumb .txt_sort+.txt_price {
    margin-top: -.3rem
}

.list_chu_prod .info_thumb .txt_price {
    display: block;
    margin-top: .3rem;
    font-size: 1.9rem;
    color: #111
}

.list_chu_prod .info_thumb .txt_price .num {
    font-weight: 700;
    vertical-align: -1px
}

.list_chu_prod .info_thumb .txt_price .txt {
    display: inline-block;
    margin: 0 0 0 .1rem;
    font-size: 1.3rem
}

.list_chu_prod li.lately_chk a {
    padding-left: 6.5rem;
    white-space: nowrap
}

.list_chu_prod li.lately_chk a:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.list_chu_prod li.lately_chk .ico_mark {
    position: absolute;
    top: 50%;
    left: 0;
    width: 5.8rem;
    height: 2.3rem;
    border: 1px solid #7fd4ef;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #009fd9;
    text-align: center;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -webkit-border-top-left-radius: 1.2rem;
    -webkit-border-top-right-radius: 1.2rem;
    -webkit-border-bottom-left-radius: 1.2rem;
    -webkit-border-bottom-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.list_chu_prod li.lately_chk .ico_video {
    position: absolute;
    top: 50%;
    left: 0;
    width: 5.8rem;
    height: 2.3rem;
    background: #009fd9;
    border: 1px solid #009fd9;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #fff;
    text-align: center;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -webkit-border-top-left-radius: 1.2rem;
    -webkit-border-top-right-radius: 1.2rem;
    -webkit-border-bottom-left-radius: 1.2rem;
    -webkit-border-bottom-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.list_chu_prod li.lately_chk .ico_video:before {
    display: inline-block;
    content: '';
    background-position: -22px -391px;
    width: 9px;
    height: 10px;
    margin-right: .2rem;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: url(../img/common/cjmall/m/sp_ico_fn.png); */
    -webkit-background-size: 62px auto;
    background-size: 62px auto
}

.list_chu_prod li.lately_chk .txt_chk {
    display: inline-block;
    vertical-align: middle;
    white-space: normal
}

.list_chu_prod li.lately_chk .link_tit {
    font-weight: 400;
    font-size: 1.6rem;
    color: #4d4d4d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word
}

.list_chu_prod li.lately_chk+.list_chu_prod li:first-child {
    padding-top: 1.2rem;
    border-top: 1px solid #f0f0f0
}

.list_chu_prod li.lately_chk .btn_del {
    top: 50%;
    margin-top: -1.2rem
}

.notice_empty {
    overflow: hidden;
    padding-bottom: 6.7rem;
    font-size: 1.6rem;
    color: grey;
    text-align: center
}

.notice_empty .ico_empty {
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: url(../img/common/cjmall/m/sp_notice.png); */
    -webkit-background-size: 130px auto;
    background-size: 130px auto;
    display: block;
    margin: 4.8rem auto 1.7rem;
    width: 64px;
    height: 66px;
    background-position: 0 2px
}

/* chk */

.lately_chk a {
    padding-left: 6.5rem;
    white-space: nowrap
}

.lately_chk a:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.lately_chk .ico_mark {
    position: absolute;
    top: 50%;
    left: 0;
    width: 5.8rem;
    height: 2.3rem;
    border: 1px solid #7fd4ef;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #009fd9;
    text-align: center;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -webkit-border-top-left-radius: 1.2rem;
    -webkit-border-top-right-radius: 1.2rem;
    -webkit-border-bottom-left-radius: 1.2rem;
    -webkit-border-bottom-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.lately_chk .ico_video {
    position: absolute;
    top: 50%;
    left: 0;
    width: 5.8rem;
    height: 2.3rem;
    background: #009fd9;
    border: 1px solid #009fd9;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #fff;
    text-align: center;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    -webkit-border-top-left-radius: 1.2rem;
    -webkit-border-top-right-radius: 1.2rem;
    -webkit-border-bottom-left-radius: 1.2rem;
    -webkit-border-bottom-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.lately_chk .ico_video:before {
    display: inline-block;
    content: '';
    background-position: -22px -391px;
    width: 9px;
    height: 10px;
    margin-right: .2rem;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: url(../img/common/cjmall/m/sp_ico_fn.png); */
    -webkit-background-size: 62px auto;
    background-size: 62px auto
}

.lately_chk .txt_chk {
    display: inline-block;
    vertical-align: middle;
    white-space: normal
}

.lately_chk .link_tit {
    font-weight: 400;
    font-size: 1.6rem;
    color: #4d4d4d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word
}

.lately_chk+:first-child {
    padding-top: 1.2rem;
    border-top: 1px solid #f0f0f0
}

.lately_chk .btn_del {
    top: 50%;
    margin-top: -1.2rem
}