.wrap_lately .box_zm {
    background-color: #fff;
    padding: 0 1.2rem;
    clear: both
}

.box_option {
    overflow: hidden;
    height: 4.5rem;
    padding: 0 1.1rem 0 1.2rem;
    line-height: 4.3rem;
    background-color: #f6f6f6
}

.box_option .ic2_43 {
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: url(../img/common/cjmall/m/); */
    -webkit-background-size: 62px auto;
    background-size: 62px auto;
    overflow: hidden;
    width: 12px;
    height: 10px;
    margin-right: .3rem;
    background-position: -35px -197px
}

.box_option .ic2_48 {
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../../img/common/sp_ico_fn.png);
    -webkit-background-size: 62px auto;
    background-size: 62px auto;
    overflow: hidden;
    width: 17px;
    height: 15px;
    margin: -.4rem .4rem 0 0;
    font-size: 0;
    line-height: 0;
    background-position: -35px -209px;
    text-indent: -9999px;
    vertical-align: middle
}

.box_option .num_count {
    display: inline-block;
    font-size: 1.3rem;
    color: #4d4d4d;
    vertical-align: middle
}

.box_option .piece_total {
    display: inline-block;
    font-size: 1.3rem;
    color: #4d4d4d;
    vertical-align: middle
}

.box_option .piece_total .num {
    font-size: 1.3rem
}

.box_option .option_area {
    float: right;
    height: 4.5rem
}

.box_option .option_area .chkbx_only_prd label {
    font-size: 1.4rem
}

.box_option .option_area .chkbx_only_prd+.btn_del:before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 1px;
    height: 21px;
    background-color: #e6e6e6;
    content: ''
}

.box_option .option_area .btn_del {
    position: relative;
    margin-left: .6rem;
    padding-left: 1.1rem;
    font-size: 1.4rem;
    color: #111
}

.box_option .option_area .btn_del+.link_choice:before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 1px;
    height: 21px;
    background-color: #e6e6e6;
    content: ''
}

.lately_product {
    position: relative;
    background-color: #fff
}

.lately_product:after {
    position: absolute;
    bottom: 0;
    left: 2.5rem;
    width: 1px;
    height: 100%;
    background-color: #d9d9d9;
    content: ''
}

.item_lately {
    position: relative;
    margin-left: 2.5rem;
    padding: 0;
    border-bottom: 1px solid #f0f0f0
}

.item_lately:last-child,.item_lately:only-child {
    border-bottom: none
}

.item_lately .cont_date,.item_lately .cont_date2 {
    position: absolute;
    top: 1.3rem;
    left: -1.5rem;
    width: 3.1rem;
    height: 3.1rem;
    font-size: 1rem;
    line-height: 3.2rem;
    background-color: #959595;
    color: #fff;
    text-align: center;
    z-index: 10;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%
}

.item_lately .cont_date2 {
    top: 4.8rem
}
