.wrap_banner_signin {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f0f8fa
}
.banner_signin {
    overflow: hidden;
    position: relative;
    height: 4.5rem;
    padding: .2rem 8rem .2rem 1.2rem;
    white-space: nowrap
}

.banner_signin:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.banner_signin .txt {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: middle;
    color: #4d4d4d;
    white-space: normal
}

.banner_signin .btn_signin {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 6rem;
    height: 2.5rem;
    background-color: #009fd9;
    color: #fff;
    border-color: #009fd9
}

.banner_signin .btn_signin span {
    margin-top: .5rem;
    font-size: 1.4rem
}
.u_btn {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 4.3rem;
    border: 1px solid #d9d9d9;
    background: #fff;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.u_btn span {
    display: inline-block;
    margin-top: .5rem;
    font-size: 1.4rem;
    vertical-align: top;
    line-height: 1
}

.u_btn:active,.u_btn:focus,.u_btn:hover {
    text-decoration: none
}
