.footer_wrap {
    padding-bottom: 8rem;
    background: #e6e6e6;
    font-size: 1.1rem;
    color: #666;
    text-align: center
}

.footer_wrap.none_utilbar {
    padding-bottom: 3.3rem
}

.foot_norice {
    margin-top: .8rem;
    background-color: #fff
}

.foot_norice .lk_notice {
    position: relative;
    display: block;
    padding: .9rem 2.2rem .9rem 1.2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #4d4d4d;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.foot_norice .lk_notice:after {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    width: 6px;
    height: 10px;
    margin-top: -5px;
    background-position: -54px 0;
    content: '';
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    /* background-image: url(../img/common/cjmall/m/sp_bul.png); */
    -webkit-background-size: 90px auto;
    background-size: 90px auto
}

.foot_norice .ico_notice {
    display: inline-block;
    width: 5.8rem;
    margin-right: .7rem;
    padding-top: .1rem;
    border: 1px solid #7fd4ef;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #009fd9;
    text-align: center;
    -webkit-border-top-left-radius: 2rem;
    -webkit-border-top-right-radius: 2rem;
    -webkit-border-bottom-left-radius: 2rem;
    -webkit-border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem
}

.foot_btn {
    margin-top: 1rem;
    background-color: #c5c5c5
}

.foot_btn .tbl_type {
    display: table;
    width: 100%;
    table-layout: fixed
}

.foot_btn .tbl_type li {
    display: table-cell
}

.foot_btn .tbl_type li:first-child .btn_type {
    border-left: 0
}

.foot_btn .tbl_type .btn_type {
    display: block;
    padding-top: .2rem;
    font-size: 1.4rem;
    line-height: 3.6rem;
    color: #111;
    border-left: 1px solid #ccc
}

.foot_policy .lk_type {
    color: #111;
    text-decoration: underline
}

.foot_policy .foot_contact {
    padding-top: 1.6rem;
    margin-bottom: 1.1rem;
    line-height: 1.6rem
}

.foot_policy .foot_contact p span:first-child {
    position: relative;
    padding-right: 1rem
}

.foot_policy .foot_contact p span:first-child:after {
    position: absolute;
    top: 50%;
    right: .4rem;
    width: 1px;
    height: 9px;
    margin-top: -4px;
    background-color: #c5c5c5;
    content: ''
}

.foot_policy .foot_terms {
    max-width: 32rem;
    margin: 0 auto 1.5rem;
    font-size: 0;
    line-height: 0
}

.foot_policy .foot_terms li {
    display: inline-block;
    margin: 0 .4rem;
    font-size: 1.1rem;
    line-height: 1.8rem
}

.foot_policy .copyright {
    display: block;
    padding-top: .2rem;
    line-height: 1.8rem
}

.terms_wrap {
    padding: .4rem 1.5rem 4.8rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #4d4d4d;
    background-color: #fff
}

.terms_wrap>.mg_dn:first-child {
    margin-top: 1.4rem
}

.terms_wrap .terms_tit,.terms_wrap dt {
    display: block;
    padding-top: 1rem;
    line-height: 2.3rem;
    color: #000;
    font-weight: 700
}

.terms_wrap .terms_tit a,.terms_wrap dt a {
    color: inherit
}

.terms_wrap dt a {
    position: relative
}

.terms_wrap dt a:before {
    position: absolute;
    top: -4.9rem;
    left: 0;
    width: 1px;
    height: 1px;
    content: ''
}

.terms_wrap .terms_lst li {
    line-height: 2rem
}

.terms_wrap .terms_lst a {
    text-decoration: underline
}

.terms_wrap .terms_tbl {
    margin: 1rem 0 .2rem;
    border-bottom: 1px solid #d9d9d9;
    display: table;
    width: 100%;
    table-layout: fixed
}

.terms_wrap .terms_tbl td,.terms_wrap .terms_tbl th {
    padding: .8rem 1.5rem;
    text-align: center
}

.terms_wrap .terms_tbl th {
    width: 50%;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #f6f6f6;
    border-bottom: 1px solid #d9d9d9
}

.terms_wrap .terms_tbl td {
    font-size: 1.1rem;
    border-top: 1px solid #f6f6f6
}

.terms_wrap .terms_tbl.line_type td {
    border-bottom: 1px solid #d9d9d9
}

.terms_wrap .mg_dn {
    margin-bottom: .5rem
}

.terms_wrap .open_license ul {
    margin: .5rem 0
}

.terms_wrap .open_license li,.terms_wrap .open_license p {
    padding-bottom: .3rem
}

.terms_wrap .mg_lst>li {
    margin-top: .5rem
}

.terms_wrap .mg_lst>li:first-child {
    margin-top: 0
}

.terms_wrap .lk_type {
    text-decoration: underline
}

.terms_wrap .txt_block {
    display: inline-block
}

.terms_wrap .img_hanabank {
    margin-top: 1.6rem
}

.terms_wrap .old_personal {
    display: none
}

@media all and (min-width: 768px) {
    .foot_policy .foot_terms {
        max-width:32rem
    }

    .foot_norice .lk_notice {
        padding-left: 10%;
        padding-right: 10%
    }

    .foot_norice .lk_notice:after {
        right: 10%
    }
}
.wrap_bar_util {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #d9d9d9;
    background: #fff;
    z-index: 100;
    -webkit-transform: translate3d(0,0,0)
}

.bar_util {
    display: table;
    width: 100%;
    table-layout: fixed
}

.bar_util li {
    height: 4rem;
    text-align: center;
    display: table-cell
}

.bar_util a,.bar_util button {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0
}

.bar_util a span,.bar_util button span {
    display: inline-block;
    overflow: hidden;
    background: url(../img/sp_navi.png) no-repeat;
    -webkit-background-size: 166px auto;
    background-size: 166px auto;
    vertical-align: middle;
    font-size: 5px;
    color: transparent
}

.bar_util a:after,.bar_util button:after {
    display: inline-block;
    overflow: hidden;
    height: 100%;
    vertical-align: middle;
    content: ''
}

.bar_util .btn_home span {
    width: 24px;
    height: 21px
}

.bar_util .btn_history_back span {
    width: 19px;
    height: 18px;
    margin-top: 1px;
    background-position: -26px 0
}

.bar_util .btn_history_back.is_none span {
    background-position: -26px 0;
    background-position: -47px 0
}

.bar_util .btn_menu {
    position: relative;
    z-index: 20;
    height: 40px;
    margin-top: -9px;
    user-select: none
}

.bar_util .btn_menu:after {
    display: inline-block;
    overflow: hidden;
    /* background: url(../img/common/cjmall/m/sp_navi.png) no-repeat; */
    -webkit-background-size: 166px auto;
    background-size: 166px auto;
    position: absolute;
    top: -3px;
    left: 50%;
    z-index: 5;
    width: 40px;
    height: 13px;
    margin-left: -20px;
    background-position: -126px 0;
    content: ''
}

.bar_util .btn_menu span {
    position: relative;
    z-index: 10;
    width: 38px;
    height: 38px;
    background-position: 0 -23px
}

.bar_util .btn_myzone span {
    width: 26px;
    height: 25px;
    margin-top: 2px;
    background-position: -68px 0
}

.bar_util .btn_latest_item span {
    width: 28px;
    height: 28px;
    background-position: -96px 0
}

.bar_util .btn_latest_item span img {
    display: none;
    width: 23px;
    height: 23px
}

.bar_util .is_see span {
    overflow: hidden;
    position: relative;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px
}

.bar_util .is_see span img {
    display: block;
    position: absolute;
    left: 1px;
    bottom: 1px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px
}
