@charset "UTF-8";
html {
    font-size: 10px;
    font-size: .625rem
}
body, button, h1, h2, h3, h4, h5, h6, input, select, table, textarea {
    font-family: -apple-system-font,'Apple SD Gothic Neo',Helvetica,sans-serif;
    letter-spacing: -.05rem;
}
body {
    background: #e6e6e6
}
a {
    color: inherit;
    text-decoration: none;
}
.blind {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    line-height: 0;
    margin: -1px;
}
#header .go_main_cjmall,#header.video_type .wrap_tit .btn_prev>span,#header.visible.head_chat_type .btn_page_back>span,#header.visible.head_chat_type .btn_page_close>span,#header.visible.head_chat_type .btn_share>span,.bar_srh .btn_srh_open:after {
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: 161px auto;
    background-size: 161px auto
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 130
}

#header .btn_navi {
    position: absolute;
    left: .9rem;
    top: 50%;
    width: 33px;
    height: 24px;
    padding: 7px 0 0;
    font-size: 0;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
}

#header .btn_navi span {
    display: inline-block;
    width: 22px;
    height: 18px;
    color: transparent;
    background-image: url("data:image/svg+xml, %3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42.94 33.58' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Eic_leftmenu%3C/title%3E%3Cpath fill='none' stroke='rgb%280%2C0%2C0%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.5' d='M1.75 1.75h39.44M1.75 16.79h39.44M1.75 31.83h39.44'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat
}

#header .btn_srh {
    display: none;
    position: absolute;
    right: 6.2rem;
    top: 50%;
    width: 24px;
    height: 24px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-image: url("data:image/svg+xml, %3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.4 44.5' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Eic_menub_search%3C/title%3E%3Cpath d='M1.75 19.65a17.9 17.9 0 1 1 17.9 17.9 17.82 17.82 0 0 1-17.9-17.9zM32.35 32.45l10.3 10.3' fill='none' stroke='rgb%280%2C0%2C0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3.5'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat
}

#header .go_main_cjmall {
    position: absolute;
    top: .8rem;
    left: 4.6rem;
    width: 23px;
    height: 23px;
    font-size: 5px;
    color: transparent;
    vertical-align: middle
}

#header.is_scroll .btn_srh {
    display: block
}

#header .cart_item_count {
    position: absolute;
    right: 1.4rem;
    top: 50%;
    width: 31px;
    height: 23px;
    line-height: 1;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background-image: url("data:image/svg+xml, %3Csvg data-name='Isolation Mode' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 59.8 45.63' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Eic_baske_off%3C/title%3E%3Cpath d='M1.75 1.75h5c2.74 0 5.57 3 6.29 6.7l3.21 16.6a8.65 8.65 0 0 0 8.14 6.7h22.66a8.39 8.39 0 0 0 8-6.7l3-17.8M27.83 40.25a3.63 3.63 0 0 1-7.26 0 3.64 3.64 0 0 1 3.68-3.62 3.6 3.6 0 0 1 3.58 3.62zM51.16 40.25a3.63 3.63 0 1 1-3.63-3.63 3.64 3.64 0 0 1 3.63 3.63zM23.82 13.08h24.09M29.23 21.73h13.28' fill='none' stroke='rgb%280%2C0%2C0%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.5'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat
}

#header .cart_item_count .num {
    display: none;
    position: absolute;
    top: 1px;
    left: 9px;
    width: 19px;
    font-size: 13px;
    color: #eb3671;
    letter-spacing: -.8px
}

#header .cart_item_count .txt_a11y {
    display: none
}

#header .cart_item_count.counting {
    background-image: url("data:image/svg+xml, %3Csvg data-name='Isolation Mode' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 59.8 45.63' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Eic_baske_on%3C/title%3E%3Cpath d='M1.75 1.75h5c2.74 0 5.57 3 6.29 6.7l3.21 16.6a8.65 8.65 0 0 0 8.14 6.7h22.66a8.39 8.39 0 0 0 8-6.7l3-17.8M27.83 40.25a3.63 3.63 0 0 1-7.26 0 3.64 3.64 0 0 1 3.68-3.62 3.6 3.6 0 0 1 3.58 3.62zM51.16 40.25a3.63 3.63 0 1 1-3.63-3.63 3.64 3.64 0 0 1 3.63 3.63z' fill='none' stroke='rgb%280%2C0%2C0%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.5'/%3E%3C/svg%3E")
}

#header .cart_item_count.counting .num,#header .cart_item_count.counting .txt_a11y {
    display: block
}

#header .tit {
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#header .tit img {
    width: 5.8rem
}

#header.head_item_type .wrap_tit,#header.head_sub_type .wrap_tit {
    height: 3.2rem;
    padding-top: 1.1rem
}

#header.head_item_type .tit,#header.head_sub_type .tit {
    margin: .2rem auto 0
}

#header.head_sub_type.poptype .tit,#header.poptype.head_item_type .tit {
    width: 71%
}

#header h1.tit {
    font-size: 1.8rem;
    font-weight: 400
}

#header h1.tit .lk_home {
    display: block;
    overflow: hidden;
    width: 146px;
    height: 35px;
    margin: 0 auto;
    outline: 0
}

#header h1.tit.img_type {
    margin-top: -.2rem
}

#header h1.tit.img_type .shop {
    display: inline-block;
    width: 118px;
    height: 23px
}

#header h1.tit.img_type .shop img {
    width: 100%;
    height: 100%
}

#header.visible~#container {
    padding-top: 12.3rem
}

#header.visible.head_item_type,#header.visible.head_sub_type {
    border-bottom: 1px solid #d9d9d9
}

#header.head_item_type .btn_srh,#header.head_sub_type .btn_srh {
    display: block
}

#header.visible.head_item_type~#container,#header.visible.head_sub_type~#container {
    padding-top: 4.4rem
}

#header.visible.head_chat_type~#container {
    padding-top: 0;
    padding-bottom: 0
}

#header.visible.head_item_type~#container {
    padding-top: 4.4rem
}

#header.head_item_type~#container+#footer .wrap_bar_util {
    display: none
}

#header.is_scroll~#container {
    padding-top: 3.6rem
}

#header.is_sticky_tab .tab_home:after {
    background: #f6f6f6
}

#header.head_sub_type.is_sticky_tab,#header.is_sticky_tab.head_item_type {
    border-bottom-color: #e6e6e6
}

#header.is_sticky_tab~#container {
    padding-top: 15.8rem
}

#header.head_sub_type.is_sticky_tab~#container,#header.is_sticky_tab.head_item_type~#container {
    padding-top: 8.4rem
}

#header.srh_type.is_sticky_tab~#container {
    padding-top: 9.2rem
}

#header.video_type {
    background: 0 0;
    border: none
}

#header.video_type .wrap_tit {
    padding: 0;
    height: auto;
    text-align: left
}

#header.video_type .wrap_tit .btn_prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.8rem;
    height: 4.5rem
}

#header.video_type .wrap_tit .btn_prev>span {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 10px;
    height: 18px;
    background-position: -58px -173px;
    color: transparent
}

#header.visible.head_noline {
    border-bottom: 1px solid #fff
}

#header.visible.head_noline .wrap_tit {
    height: 3.7rem;
    padding: .8rem 1.1rem
}

#header.visible.head_noline .wrap_tit h1.tit.img_type {
    margin: .9rem auto 0
}

#header.visible.head_noline .wrap_tit h1.tit.img_type .shop {
    width: 130px;
    height: 23px
}

#header.visible.head_noline .wrap_tit .btn_navi {
    top: 1rem;
    left: 1.1rem;
    padding: 0;
    width: 37px;
    height: 37px;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
}

#header.visible.head_noline .wrap_tit .btn_navi span {
    width: 37px;
    height: 37px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewBox='0 0 37 37'%3E%3Cpath d='M9.64 13.324h16.807c.353 0 .64-.297.64-.662a.651.651 0 0 0-.64-.662H9.639a.651.651 0 0 0-.639.662c0 .365.286.662.64.662m16.807 5H9.639a.651.651 0 0 0-.64.661c0 .366.287.662.64.662h16.808a.651.651 0 0 0 .639-.662.651.651 0 0 0-.64-.661m.001 6.323H9.639a.651.651 0 0 0-.64.662c0 .365.287.662.64.662h16.808a.652.652 0 0 0 .639-.662.651.651 0 0 0-.64-.662' fill='%23010202' fill-rule='evenodd'/%3E%3C/svg%3E")
}

#header.visible.head_noline .wrap_tit .btn_srh {
    top: 1rem;
    right: 5.6rem;
    width: 37px;
    height: 37px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='37' height='37' viewBox='0 0 37 37'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h18.912v18.944H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(9 9)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='rgb%280%2C0%2C0%29' d='M3.33 13.403a7.056 7.056 0 0 1-2.09-5.018v-.02a7.074 7.074 0 0 1 2.078-5.036 7.073 7.073 0 0 1 5.03-2.09h.01c3.918 0 7.11 3.187 7.117 7.109a7.073 7.073 0 0 1-2.078 5.035 7.083 7.083 0 0 1-5.042 2.091c-1.925.035-3.682-.732-5.026-2.07zm11.34.418a8.295 8.295 0 0 0 2.044-5.475C16.707 3.741 12.96 0 8.358 0h-.011A8.303 8.303 0 0 0 2.44 2.454 8.305 8.305 0 0 0 0 8.367v.019a8.289 8.289 0 0 0 2.453 5.895 8.29 8.29 0 0 0 5.895 2.432h.018a8.29 8.29 0 0 0 5.426-2.017l4.062 4.067a.618.618 0 0 0 .877 0 .62.62 0 0 0 0-.877l-4.061-4.065z' mask='url(%23b)'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
}

#header.visible.head_noline .wrap_tit .cart_item_count {
    right: 1.1rem;
    top: 1rem;
    width: 37px;
    height: 37px;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='37' height='37' viewBox='0 0 37 37'%3E%3Cdefs%3E%3Cpath id='a' d='M0 .288h24.788v13.793H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(3 9.512)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='%23231916' d='M24.273 2.588a.62.62 0 0 0-.715.491l-1.31 7.474c-.22 1.261-1.526 2.328-2.85 2.328h-8.951c-1.331 0-2.67-1.068-2.924-2.333L6.122 3.592C5.75 1.739 4.284.288 2.784.288H.619a.61.61 0 0 0-.62.6c0 .332.278.6.62.6h2.165c.881 0 1.872 1.09 2.122 2.334l1.4 6.956c.367 1.821 2.224 3.303 4.14 3.303h8.952c1.926 0 3.752-1.493 4.071-3.328l1.31-7.473a.602.602 0 0 0-.506-.692' mask='url(%23b)'/%3E%3C/g%3E%3Cpath fill='%23231916' d='M13.366 27.512c-.526 0-.953-.416-.953-.926 0-.509.427-.924.953-.924.527 0 .956.415.956.924 0 .51-.429.926-.956.926m0-3.05c-1.209 0-2.192.953-2.192 2.124 0 1.172.983 2.126 2.192 2.126 1.21 0 2.195-.954 2.195-2.126 0-1.171-.984-2.124-2.195-2.124m9.258 3.05c-.527 0-.955-.416-.955-.926 0-.509.428-.924.955-.924.527 0 .955.415.955.924 0 .51-.428.926-.955.926m0-3.05c-1.21 0-2.194.953-2.194 2.124 0 1.172.984 2.126 2.194 2.126s2.195-.954 2.195-2.126c0-1.171-.984-2.124-2.195-2.124m-9.423-8.697h9.588a.61.61 0 0 0 .62-.6.61.61 0 0 0-.62-.6h-9.588a.61.61 0 0 0-.62.6c0 .331.278.6.62.6m2.348 2.436a.61.61 0 0 0-.62.6c0 .331.278.6.62.6h4.893a.61.61 0 0 0 .62-.6.61.61 0 0 0-.62-.6h-4.893z'/%3E%3C/g%3E%3C/svg%3E")
}

#header.visible.head_noline .wrap_tit .cart_item_count .num {
    top: 10px;
    left: 12px;
    width: 12px;
    font-size: 10px;
    color: #eb3671;
    letter-spacing: 0
}

#header.visible.head_noline .wrap_tit .cart_item_count.counting {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='37' height='37' viewBox='0 0 37 37'%3E%3Cdefs%3E%3Cpath id='a' d='M0 .288h24.788v13.793H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(3 9.512)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='%23231916' d='M24.273 2.588a.62.62 0 0 0-.715.491l-1.31 7.474c-.22 1.261-1.526 2.328-2.85 2.328h-8.951c-1.331 0-2.67-1.068-2.924-2.333L6.122 3.592C5.75 1.739 4.284.288 2.784.288H.619a.61.61 0 0 0-.62.6c0 .332.278.6.62.6h2.165c.881 0 1.872 1.09 2.122 2.334l1.4 6.956c.367 1.821 2.224 3.303 4.14 3.303h8.952c1.926 0 3.752-1.493 4.071-3.328l1.31-7.473a.602.602 0 0 0-.506-.692' mask='url(%23b)'/%3E%3C/g%3E%3Cpath fill='%23231916' d='M13.366 27.512c-.526 0-.953-.416-.953-.926 0-.509.427-.924.953-.924.527 0 .956.415.956.924 0 .51-.429.926-.956.926m0-3.05c-1.209 0-2.192.953-2.192 2.124 0 1.172.983 2.126 2.192 2.126 1.21 0 2.195-.954 2.195-2.126 0-1.171-.984-2.124-2.195-2.124m9.258 3.05c-.527 0-.955-.416-.955-.926 0-.509.428-.924.955-.924.527 0 .955.415.955.924 0 .51-.428.926-.955.926m0-3.05c-1.21 0-2.194.953-2.194 2.124 0 1.172.984 2.126 2.194 2.126s2.195-.954 2.195-2.126c0-1.171-.984-2.124-2.195-2.124'/%3E%3C/g%3E%3C/svg%3E")
}

#header .btn_back_order {
    position: absolute;
    left: .8rem;
    top: 50%;
    width: 33px;
    height: 24px;
    padding: 5px 0 0;
    font-size: 0;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
}

#header .btn_back_order span {
    width: 22px;
    height: 19px;
    font-size: 5px;
    color: transparent;
    vertical-align: top;
    background-position: 0 -159px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: 90px auto;
    background-size: 90px auto
}

#header.visible.head_chat_type {
    background: 0 0;
    border: none
}

#header.visible.head_chat_type~#container {
    padding-top: 0
}

#header.visible.head_chat_type .btn_page_back,#header.visible.head_chat_type .btn_page_close,#header.visible.head_chat_type .btn_share {
    position: absolute;
    top: .6rem;
    left: .7rem;
    width: 3.3rem;
    height: 3.3rem
}

#header.visible.head_chat_type .btn_page_back>span,#header.visible.head_chat_type .btn_page_close>span,#header.visible.head_chat_type .btn_share>span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

#header.visible.head_chat_type .btn_page_back>span {
    width: 10px;
    height: 18px;
    background-position: -58px -173px
}

#header.visible.head_chat_type .btn_share {
    left: auto;
    right: .7rem
}

#header.visible.head_chat_type .btn_share>span {
    width: 18px;
    height: 18px;
    background-position: -39px -173px
}

#header.visible.head_chat_type .btn_page_close>span {
    width: 20px;
    height: 20px;
    background-position: -69px -173px
}

#header .header_inner_wrap {
    background-repeat: no-repeat;
    background-size: 360px 130px;
    background-position: 50% 0
}
